*{
    margin: 0;
    padding: 0;
}
.navbar-wrapper{
    height: 55px;
    background-color:#ff86ca;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.logo{
    width: 50px;
    height: 50px;
    margin: 2px 0 0 10px;
    img{
        width: 100%;
        height: 100%;
    }
}
.brand-name{
    font-size: 20px;
    color: white;
    margin: 10px 0 0 10px;
}
.log-out-wrapper{
    margin-left: auto;
    margin-right: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
    .log-out{
        background-color: transparent;
        border: none;
        color: white;
        font-size: 25px;
        cursor: pointer;
        &:hover{
            color: rgb(205, 205, 205);
        }
    }
}