*.aux

*.lof
*.log

*.lot

*.out

*.synctex.gz

*.toc

*.vs
/IzvorniKod/Backend/SpotPicker/SpotPicker/Migrations/_EFCoreModelSnapshot.cs
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
IzvorniKod/Backend/SpotPicker/SpotPicker/appsettings.json
