<div id="reservationContainer">
  <div class="map-container">
     <div class="map-frame">
       <div id="map"></div>
     </div>
   </div>
   <div class="reservationForm">
    <div class="wizardContainer">
      <div class="title">
        {{user.Username}} {{user.Surname}}, rezervaciju možeš izvršiti na dva načina:
      </div>
      <div class="differentWays">
        <div class="reservationWays">
          <div class="point">
            1
          </div>
          Označi na mapi željena parkirna mjesta i zatim klikni na gumb 
          <button>Rezerviraj</button>
        </div>
        <div class="or">
          &nbsp; ili &nbsp;
        </div>
        <div class="reservationWays">
          <div class="point">
            2
          </div>
          Odaberi na kalendaru željeni datum i vrijeme rezervacije, a 
          mi ćemo ti na mapi označiti dostupna parkirna mjesta.
        </div>
      </div>
    </div>
   </div>
</div>
