.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 100px;
    margin-left: 50px;
    margin-bottom: 50px;
    z-index: 98;
}

.map-frame {
border: 2px solid black;
height: 100%;
width: 55%;
position: relative;
}

#map {
height: 100%;
position: relative;
}