<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

    <div class="create-parking">
        <div class="container">
            <div class="closing-icon" (click)="closeCreateParking()">
                <i class="bx bx-x icon"></i>
            </div>
            <div class="content">
                <form [formGroup]="createParkingForm">
                    <div class="topic">Stvorite svoj novi parking</div>
                    <div class="input-box">
                        <input type="text" formControlName="ParkingName" required>
                        <label>Upišite naziv parkinga</label>
                    </div>
                    <div class="input-box">
                        <input type="text" formControlName="Price" required>
                        <label>Upišite cijenu parkiranja po satu</label>
                    </div>
                    <div class="message-box">
                        <textarea formControlName="Description" required></textarea>
                        <label>Upišite opis parkinga</label>
                    </div>
                    <div class="img-box">
                        <input type="file" accept="image/*" formControlName="File" required >
                        <label>Slika parkinga</label>
                    </div>
                    <div class="map" id="map-wrapper">
                        <div (click)="otvoriMapuParkinga()">
                            Označi parking       
                            <i class='bx bxs-check-circle icon' style="color:white; font-size: 25px; position: relative; bottom: -0.2rem;" *ngIf="parkingSpots.length!=0"></i>
                        </div>
                        <div *ngIf="otvoriMapu" >
                            <div class="map-background" id="map-background">
                            </div>
                            <app-map *ngIf="otvoriMapu" [parkingName]="parkingData.ParkingName" [parkingSpots]="parkingSpots" (parkingSpotsChange)="updateParkingSpots($event)"></app-map>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="submit" (click)="onSubmit()">Stvori parking</div>
                    </div>
                </form>
            </div>
        </div>
    </div>

  
