<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="sidebar close">
        <header>
            <i class='bx bx-chevron-right toggle' (click)="smanji()"></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a (click)="otvoriStvoriParking()">
                            <i class='bx bxs-car icon'></i>
                            <span class="text nav-text">Dodaj parking</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a (click)="otvoriStatistika()">
                            <i class='bx bxs-bar-chart-alt-2 icon'></i>
                            <span class="text nav-text">Statistika</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="create-parking" *ngIf="otvoriParking">
        <div class="container">
            <div class="content">
                <form action="#" [formGroup]="createParkingForm" (ngSubmit)="onSubmit()">
                    <div class="topic">Stvorite svoj novi parking</div>
                    <div class="input-box">
                        <input type="text" [(ngModel)]="parkingData.ParkingName" required>
                        <label>Upišite naziv parkinga</label>
                    </div>
                    <div class="input-box">
                        <input type="text" [(ngModel)]="parkingData.Price" required>
                        <label>Upišite cijenu parkiranja po satu</label>
                    </div>
                    <div class="message-box">
                        <textarea [(ngModel)]="parkingData.Description" required></textarea>
                        <label>Upišite opis parkinga</label>
                    </div>
                    <div class="img-box">
                        <input type="file" accept="image/*" formControlName="file" required >
                        <label>Slika parkinga</label>
                    </div>
                    <div class="input-box">
                        <input type="submit" value="Stvori parking">
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
  
