<div class="forgot-password">
  <div class="input-wrapper">
      <h2>Forgot Your Password?</h2>
      <p *ngIf="showEnterEmailForm">Please, enter email address registered to your account</p>
      <form (ngSubmit)="onSendCode()" class="bozepomozi" *ngIf="showEnterEmailForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" [(ngModel)]="email" required placeholder="email"/>
          <button class="button" id="buttonverif" type="submit">Send verification code</button>
        </div>  
      </form>


    <p *ngIf="showVerificationCodeForm">Enter your code you have received on email.</p>
    <form (ngSubmit)="onSubmitCode()" *ngIf="showVerificationCodeForm" class="bozepomozi2">
      <div class="code-inputs">
        <input type="text" id="digit1" [(ngModel)]="digit1" name="digit1" (input)="focusNext(2)" maxlength="1"/>
        <input type="text" id="digit2" [(ngModel)]="digit2" name="digit2" (input)="focusNext(3)" maxlength="1"/>
        <input type="text" id="digit3" [(ngModel)]="digit3" name="digit3" (input)="focusNext(4)" maxlength="1"/>
        <input type="text" id="digit4" [(ngModel)]="digit4" name="digit4" (input)="focusNext(5)" maxlength="1"/>
        <input type="text" id="digit5" [(ngModel)]="digit5" name="digit5" maxlength="1"/>
      </div>
      <label *ngIf="showWrongCodeMessage" id="labela">Code you entered doesn't match the one we sent you on email</label>
      <button class="button" id="buttonsubmit" type="submit">Submit Code</button>
    </form>

    <p *ngIf="showPasswordResetForm" id="newpass">Please enter your new password</p>
    <form (ngSubmit)="onNewPassword()" *ngIf="showPasswordResetForm" class="bozepomozi3">
      <div class="form-group">
        <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" placeholder="New password" required/>
      </div>
      <div class="form-group">
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirm new password" required/>
      </div>
      <label id="notmatch" *ngIf="showWrongPasswordMessage">Passwords do not match.</label>
      <button class="button" id="buttonreset" type="submit">Reset Password</button>
    </form>
  </div>
</div>
  
  
