.forgot-password{
    text-align: center;

}
   
    
h2 {
    font-size: 24px;
    margin-top: 20px;
    position: absolute;
    top: 28%;
    left: 42%;
}
  
p {
    margin: 10px 0;
    position: absolute;
    top: 35%;
    left: 38%;
}

.bozepomozi{
    // display: flex;
    // justify-content: center;
    position: absolute;
    top: 40%;
    left: 35%;
}

#buttonsubmit{
    width: 166px;
    margin: 2px;
}

.form-group {
    
    margin: 10px;
   
    input[type="email"],
    input[type="password"],
    input[type="text"] {
        margin: 5px; 
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}

// #email{
//     display: block;
// }
    
.button {
    width: 100%;
    //box-sizing: border-box;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
        background-color: #2375b3;
    }
}
 
.bozepomozi2{
    position: absolute;
    left: 15%;
    top: 40%;
    width: 1000px;
    
    #labela{
        color: red;
        display: block;
        
    }
}

.code-inputs {
    input[type="text"] {
        width: 10px; 
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
        margin: 1px;
    }
}
 
.bozepomozi3{
    width: 1000px;
    label{
        position: relative;
        right: 3.5em;
        
        
    }
    input{
        position: relative;
        right: 3.5em;
    }
    #buttonreset{
        width: 182px;
    }
    position: absolute;
    left: 17%;
    top: 40%;
    
}

#buttonverif{
    width: 48%;
    position: relative;
    left: 1.5em;
}

#confirmPassword{
    position: relative;
    right: 4.5em;
}

#newpass{
    position: absolute;
    left: 43%;
}

#notmatch{
    color: red;
    display: block;
    position: relative;
    left: 0%;
}


  