<div class="unapproved-managers-wrapper" *ngIf="isAdmin$ | async">
    <div class="unapproved-managers">
        <div class="title">Zahtjevi za izradu računa s roleom vlasnika parkirališta</div>
        <div class="manager" *ngFor="let manager of UnapprovedManagers">
            <div class="manager-username">
                {{manager.username}}
            </div>
            <div class="manager-name-surname">
                {{manager.name + ' ' + manager.surname}}
            </div>
            <div class="vote">
                <div class="button" (click)="approveManager(manager.username)">
                    <img src="../../../assets/accept.png">
                </div>
                <div class="button" (click)="declineManager(manager.username)">
                    <img src="../../../assets/decline.png" style="width: 36px; height: 36px;">
                </div>
            </div>
        </div>
        <div class="message" *ngIf="UnapprovedManagers.length == 0">
            Nema novih zahtjeva za izradu računa vlasnika parkinga
        </div>
    </div>

</div>
<div class="allUsersContainer" *ngIf="isAdmin$ | async">
    <div class="title">Svi korisnici parkinga: </div>
    <div class="atributes">
        <span>Ime</span>
        <span>Prezime</span>
        <span>Uloga</span>
        <span>Email</span>
    </div>
    <div class="underline"></div>
    <div class="allUsers">
        <div class="container" *ngFor="let user of AllUsers">
            <div class="userValues">
                <span>{{user.Name}}</span>
                <span>{{user.Surname}}</span>
                <span>{{user.RoleId}}</span>
                <span>{{user.Email}}</span>
                <span >
                    <div class="showMoreButton">
                        <button (click)="expandUser(user.UserId)">{{ isUserExpanded(user.UserId) ? 'Prikaži manje' : 'Prikaži više' }}</button>
                    </div>
                </span>
            </div>
            <div [ngClass]="{'open': isUserExpanded(user.UserId), 'close' : !isUserExpanded(user.UserId)}">
                <div style="border: 1px solid gray;"></div>
                <div class="expandedViewAttributes">
                    <div>
                        <div class="keyValue">
                            <div class="title2">Korisničko ime: </div>
                            <input type="text" class="value" [(ngModel)]="user.Username">
                        </div>
                        <div class="keyValue">
                            <div class="title2">Lozinka: </div>
                            <input disabled type="text" class="value" [(ngModel)]="user.Password">
                        </div>
                        <div class="keyValue">
                            <div class="title2">Email: </div>
                            <input type="text" class="value" [(ngModel)]="user.Email">
                        </div>
                        <div class="keyValue">
                            <div class="title2">Vrsta računa: </div>
                            <select [(ngModel)]="user.RoleId" name="type" id="">
                                <option value="1">Klijent</option>
                                <option value="2">Voditelj parkinga</option>
                            </select>
                        </div>

                    </div>
                    <div>
                        <div class="keyValue">
                            <div class="title2">Ime: </div>
                            <input type="text" class="value" [(ngModel)]="user.Name">
                        </div>
                        <div class="keyValue">
                            <div class="title2">Prezime: </div>
                            <input type="text" class="value" [(ngModel)]="user.Surname">
                        </div>
                        <div class="keyValue">
                            <div class="title2">IBAN: </div>
                            <input type="text" class="value" [(ngModel)]="user.IBAN">
                        </div>
                        <div class="keyValue">
                            <img width="100px" height="100px" [src]="'https://localhost:7020/' + user.idImagePath">
                        </div>
                    </div>

                    <div class="actionContainer">
                        <button class="saveButton"  (click)="saveChanges(user)">Pohrani promjene</button>
                        <button class="deleteButton" (click)="deleteUser(user.Username)">Izbriši korisnika</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>