.unapproved-managers-wrapper{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px #ccc;
    .title{
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }
    .unapproved-managers{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .message{
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .manager{
            width: 100%;
            margin: 10px 0;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0 0 10px #ccc;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .manager-username{
                font-size: 20px;
                font-weight: bold;
            }
            .manager-name-surname{
                font-size: 20px;
            }
            .vote{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .button{
                    width: 70px;
                    height: 30px;
                    border: none;
                    border-radius: 5px;
                    margin-left: 10px;
                    background-color: #fff;
                    box-shadow: 0 0 10px #ccc;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    &:hover{
                        background-color: #ccc;
                    }
                    img{
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }
}

.title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;

}

.allUsersContainer {
    margin-top: 50px;
    text-align: center;
}

.atributes {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 40px;

    span {
        font-size: 20px;
        font-weight: bold;
        display: inline-block;
        width: 20%
    }
}

.underline {
    border-bottom: 2px solid black;
}

.container {
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px #ccc;
    margin: 10px 40px;
}

.userValues {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;

    span {
        font-size: 20px;
        display: inline-block;
        width: 20%
    }
}

.showMoreButton {
    display: flex;
    justify-content: end;
    padding-right: 10px;

    button {
        padding: 5px;
        background-color: white;
        border-radius: 5px;
    }
}

.open {
    max-height: 500px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.close {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.expandedViewAttributes {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding: 10px 40px;
}

.keyValue {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin: 20px 0;
}

.title2 {
    font-size: 20px;
    font-weight: bold;
}

.value {
    font-size: 20px;
}

.actionContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 20px;


    .saveButton {
        padding: 5px;
        background-color: green;
        border-radius: 5px;
        font-size: 16px;
        color: white;

    }

    .deleteButton {
        padding: 5px;
        background-color: red;
        border-radius: 5px;
        font-size: 16px;
        color: white;
    }
}